<html lang="en">
<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="not-found content">
        <h1 style="text-align: center;"><i class="material-icons medium">error</i>404 - Page not found<i class="material-icons medium">error</i></h1>
    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>