<html>
    <%- include('../partials/header.ejs') %>
    <body>
        <%- include('../partials/navbar.ejs') %>

        <div class="container" style="margin-top: 20px;">
            <form action="/notes" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                      <input id="title" name="title" type="text" class="validate">
                      <label for="title">Note Title</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="email" name="email" type="email" class="validate">
                      <label for="email">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <input id="subject" name="subject" type="text" class="validate" data-length="10"></input>
                      <label for="subject">Note Subject</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <textarea id="body" name="body" class="materialize-textarea"></textarea>
                      <label for="body">Note Body</label>
                    </div>
                </div>
                <button href="/create" class="btn white indigo-text">Create Note</button>
            </form>
        </div>

        <%- include('../partials/footer.ejs') %>

        <script>
            $(document).ready(function() {
                $('textarea#subject').characterCounter();
            });
        </script>
    </body>
</html>